<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>{$appmode} DT</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	
	<rt:if param="{$media_url}">
		<script src="{$media_url}/jquery-2.1.4.min.js"></script>
		<script src="{$media_url}/bootstrap/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="{$media_url}/bootstrap/css/bootstrap.min.css" />
	<rt:else />
		<script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
		<script src="//netdna.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />		
	</rt:if>
	
	<style>
		.code{ 
			font-family: Consolas, 'Liberation Mono', Courier, monospace; font-size: 12px; font-style: normal; font-variant: normal; font-weight: normal;
			width:100%; height: 16px; line-height: 0px; margin: 0; white-space: pre; padding-left: 10px; padding-right: 10px;		
		}
		.hash_off{
			font-style: italic;
			color: #aaaaaa;
		}
		.nav-sidebar > .active > a,
		.nav-sidebar > .active > a:hover,
		.nav-sidebar > .active > a:focus {
			color: #fff;
			background-color: #428bca;
		}

		
	</style>
</head>

<body>

<div id="wrap">
	<div class="navbar navbar-default navbar-fixed-top" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="glyphicon-bar"></span>
					<span class="glyphicon-bar"></span>
					<span class="glyphicon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">Developer Tool <span style="font-size: x-small;">( {$appmode} )</span></a>
			</div>
			<div class="collapse navbar-collapse">
				<ul class="nav navbar-nav">
					<li class="{$t.match_package_method_switch('index','active','inactive')}"><a href="{$t.package_method_url('index')}">Urls</a></li>
					<li class="{$t.match_package_method_switch('class_list','active','inactive')}"><a href="{$t.package_method_url('class_list')}">Classes</a></li>
					
					<rt:if param="{$f.perm('model')}">
						<li class="{$t.match_package_method_switch('model_list','active','inactive')}"><a href="{$t.package_method_url('model_list')}">Models</a></li>
					</rt:if>
					
					<rt:if param="{$f.perm('config')}">
						<li class="{$t.match_package_method_switch('config','active','inactive')}"><a href="{$t.package_method_url('config')}">Config</a></li>
					</rt:if>

					<rt:if param="{$f.perm('docs')}">
						<li class="{$t.match_package_method_switch('document','active','inactive')}"><a href="{$t.package_method_url('document')}">Docs</a></li>					
					</rt:if>
					
					<rt:if param="{$f.perm('phpinfo')}">
						<li class="{$t.match_package_method_switch('phpinfo','active','inactive')}"><a href="{$t.package_method_url('phpinfo')}">phpinfo</a></li>
					</rt:if>
					
					<rt:if param="{$f.perm('coverage')}">
						<li class="{$t.match_package_method_switch('coverage','active','inactive')}"><a href="{$t.package_method_url('coverage_list')}">Coverage</a></li>					
					</rt:if>
					
				</ul>
				
				<rt:block name="list_search">
					<form class="navbar-form navbar-right" rt:ref="true">
						<input type="text" class="form-control" name="q" placeholder="Search...">
					</form>
				</rt:block>
			</div>

		</div>
	</div>
	<div class="container">
		<div class="page-header">
		</div>
		
		<rt:block name="content">
		</rt:block>
	</div>
</div>
<div id="footer">
	<div class="container">
	</div>
</div>

<script type="text/javascript">
$(function () {
	  $('[data-toggle="tooltip"]').tooltip()
});
</script>
</body>
</html>
