<rt:extends href="base.html" />

<rt:block name="content">

<h4 class="text-warning">Classes</h4>

<table class="table table-condensed" style="margin-bottom: 50px; margin-left: 5px;">
<rt:loop param="{$class_list}" var="summary" key="package">
	<rt:notif param="{$f.is_subclass_of($package,'Exception')}">
	<tr>
		<td style="width: 30%;"><a href="{$t.package_method_url('class_doc',$package)}">{$package}</a></td>
		<td style="width: 70%; color: #aaaaaa;">{$summary}</td>
	</tr>
	</rt:notif>
</rt:loop>
</table>


<h4 class="text-warning">Exceptions</h4>
<table class="table table-condensed" style="margin-bottom: 50px; margin-left: 5px;">
<rt:loop param="{$class_list}" var="summary" key="package">
	<rt:if param="{$f.is_subclass_of($package,'Exception')}">
	<tr>
		<td style="width: 30%; color: #888888;">{$package}</td>
		<td style="width: 70%; color: #aaaaaa;">{$summary}</td>
	</tr>
	</rt:if>
</rt:loop>
</table>
</rt:block>

