<rt:extends href="base.html" />

<rt:block name="content">

<table rt:param="{$conf_list}" rt:var="conf" class="table table-condensed">
<thead>
	<tr class="text-muted">
		<th style="width:30%;">class</th>
		<th style="width:20%;">key</th>
		<th>description</th>
	</tr>
</thead>
<tbody>
	<tr>
		<td style="width:25%">
			<a href="{$t.package_method_url('class_doc',$conf['package'])}">
				<rt:if param="{$f.has_conf($conf['package'],$conf['key'])}">
					<div style="color:#aaaaaa;">
						{$conf['package']}
					</div>
				<rt:else />
						{$conf['package']}
				</rt:if>
			</a>
		</td>
		<td style="width:15%">
			<a href="{$t.package_method_url('conf_doc',$conf['package'],$conf['key'])}">
				<rt:if param="{$f.has_conf($conf['package'],$conf['key'])}">
					<div style="color:#aaaaaa;">
						{$conf['key']}
					</div>
				<rt:else />
						{$conf['key']}
				</rt:if>

			</a>
		</td>
		<td style="width:60%">
			<span style="color: #aaaaaa;">
				{$t.html($conf['description'],200,1)}
			</span>
		</td>
	</tr>
</tbody>
</table>
</rt:block>

