<rt:extends href="base.html" />

<rt:block name="list_search">
</rt:block>

<rt:block name="content">

<h1 class="text-{$f.progress_css($covered)}">
	{$name}
	
	({$covered}%)
</h1>

<div style="margin-top: 50px;">
<table rt:param="lines" rt:var="line" style="margin: 0; padding: 0;" rt:counter="cnt">
<tr>
	<td style="text-align: right; width:80px; padding-right: 20px;" class="text-{$f.src_covered_css($line['type'])}">
		{$cnt}
	</td>
	<td class="text-{$f.src_covered_css($line['type'])}">
		{$t.html($f.src2html($line['value']))}
	</td>
</tr>
</table>
</div>

</rt:block>

