<rt:extends href="base.html" />

<rt:block name="content">
<h2>
	<a href="{$t.package_method_url('class_doc',$package)}">{$f.package_name($package)}</a>
	::
	{$plugin_name}
</h2>

<div class="alert alert-warning">
	{$f.md2html($description)}

	<p style="height: 20px;"></p>
</div>

<rt:if param="{$params}">
<h4 class="text-warning">Params</h4>
	
<table rt:param="{$params}" rt:var="param">
<tr>
	<td style="width: 25%;">
		<rt:if param="{$f.type($param[1])}">
			<a href="{$t.package_method_url('class_doc',$f.type($param[1]))}">{$param[1]}</a>
		<rt:else />
			{$param[1]}
		</rt:if>
	</td>
	<td style="width: 20%;">
		{$param[0]}
	</td>
	
	<td style="width: 55%;">
		{$t.html($param[2])}
	</td>
</tr>
</table>

</rt:if>

<rt:if param="{$return}">
<h4 class="text-warning">Return</h4>

<table>
<tr>
	<td style="width: 25%;">
		<rt:if param="{$f.type($return[0])}">
			<a href="{$t.package_method_url('class_doc',$f.type($return[0]))}">{$return[0]}</a>
		<rt:else />
			{$return[0]}
		</rt:if>
	</td>
	<td style="width:75%;">
		{$t.html($return[1])}
	</td>
</tr>
</table>

</rt:if>

</rt:block>

