<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Insert title here</title>
</head>
<body>

<Form method="post">
	<INPUT type="text" name="id" value="ID1" />
	<input type="HIDDEN" name="hid_nm1" value="abc" />
	<textarea NAME="txtarea1">BBBBB</textarea>
	
	<select name="slc1">
		<option value="A">A</option>
		<option value="B" selected="selected">B</option>
		<option value="C">C</option>
	</select>
	
	<input type="radio" name="r1" value="1" />
	<input type="radio" name="r1" value="2" checked="checked" />
	<input type="radio" name="r1" value="1" />
	
	<input type="checkbox" name="c1" value="1" />
	<input type="checkbox" name="c1" value="2" checked="checked" />
	<input type="checkbox" name="c1" value="1" />
	
	
	<input type="submit" name="btn" value="ok" />
</form>

<form method="post" name="frm1">
	<input type="text" name="id" value="ID2" />
	<input type="hidden" name="hdn1" value="AAA" />
	<input type="hidden" name="hdn2" value="BBB" />
</form>

<form method="post"  id="frm2">
	<input type="text" name="id" value="ID3" />
</form>

</body>
</html>